@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

/*! base css start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Afacad Flux;

}



/*! base css finish  */


.container {
    color: white;
    background-color: #000;
}


/*! navbar start  */
a {
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.menu-list {
    list-style: none;
    display: flex;
    color: white;
    column-gap: 30px;
}

.menu-list-item {
    cursor: pointer;
    font-size: 20px;
}

.menu-list-item:hover {
    font-weight: bold;
}

.menu-list-item.active {
    cursor: pointer;
    font-weight: bold;

}



.navbar {
    background-color: #000;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}






.profile-container {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 5px;
    line-height: 1;
}



.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

/*! navbar finish  */


/*! sidebar start  */
.sidebar {

    width: 50px;
    height: 100%;
    background-color: #000;
    color: white;
    position: fixed;
    top: 0;


}

.sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 60px;


}

.sidebar-menu-item {
    text-align: center;
    cursor: pointer;

    color: white;
    font-size: 20px;


}

/*! sidebar finish  */




/*! featured start  */
.content-wrapper {
    background-image: url(img/spiderman.jpg);
    margin-left: 50px;
    height: 876px;
    background-size: 100% 100%;
    position: relative;


}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.featured-title {
    width: 400px;
}

.featured-description {
    border: solid 1px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
}

.desc-section {
    display: flex;
    justify-content: center;
}

.featured-content {
    width: 815px;
    position: absolute;
    top: 100px;
    left: 50px;
}



.featured-buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 10px;

}

.play-button,
.info-button {

    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    outline: none;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.info-button {
    background-color: rgb(145, 142, 142, 0.5);
    color: white;
}


/*! featured  finish  */


/*! filter start */

.movie-list-filter {
    background-color: #000;
    margin: 0px 0px 0px 50px;

    height: 70px;

}

.movie-list-filter select {
    background-color: black;
    color: white;
    padding: 7px 0;
    margin-top: 20px;
    margin-left: 30px;
    width: 125px;

}


/*! filter end */

/*! movie list start */
.movie-list-container {
    margin-left: 70px;
    background-color: #000;
}

.movie-list-title {

    margin-left: 30px;

}

.movie-list-wrapper{
    overflow: hidden;
}

.movie-list {
    list-style: none;
    height: 300px;
    display: flex;
    column-gap: 30px;
    align-items: center;


}

.movie-item {
    position: relative;
}

.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
    opacity: 1;
}

.movie-item:hover .movie-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: .5;
}



.movie-item-img {
    width: 270px;
    height: 200px;
    transition: 1s all ease-in-out;
    object-fit: cover;
    

}

.movie-item-title {
    background-color: rgb(40, 40, 40, 0.4);
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-item-buttons {
    background-color: rgb(40, 40, 40, 0.4);
    padding: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 50px;
    display: flex;
    column-gap: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;

}

.movie-item-buttons i {
    cursor: pointer;
    opacity: .5;
    font-size: 20px;
    transition: 0.5s all ease;


}

.movie-item-buttons i:hover {
    opacity: 1;

}

/*! movie list finish */